footer {
	clear: both;
}

.footer {
  background: $black;
  color: $white;
  &__flex {
    display: flex;
  }
  h4 {
    color: $gold;
    text-transform: uppercase;
    i {
      color: $gold;
    }
  }
  i {
    color: $grey;
  }
  section {
    flex: 1 0 200px;
    padding: 0 30px;
    ul {
      padding: 0;
      li {
        list-style: none;
        border-bottom: $grey 2px solid;
      }
    }
  }
}