#header {
  background: #1b1b1b;
  padding: 20px 0;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: inline-block;
  }
  nav {
    text-align: right;
    ul {
      margin: 0;
      li {
        display: inline-block;
        a {
          padding: 20px;
          &:hover {
            color: $gold;
            text-decoration: underline;
          }
        }
      }
    }
  }

} /*end of #header*/
