.team {
  width: 100%;
  &__flex {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    &--profiles {
      max-width: 180px;
      flex: 1 0 150px;
      margin: 10px;
      p, h4 {
        margin-bottom: 0;
      }
      img {
        border-radius: 50%;
        width: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }
    }
  }
}

#homepage {
  .process {
    &__types {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      &--item {
        flex: 1 0 250px;
        padding: 10px 15px;
        i {
          color: $gold;
        }
      }
    }
    &__title {
      text-transform: capitalize;
      font-weight: 700;
    }
  }  
  .clients {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 80px;
    position: relative;
    bottom: -30px;
    &__testimonials {
      list-style: none;
    }
    &__quote {
      width: 60%;
      margin: 0 auto;
      position: relative;
      z-index: 1111;
      &:before{
        content: "\f10d";
        font-family: FontAwesome;
        color: $gold;
        opacity: 0.4;
        position: absolute;
        top: -10px;
        left: 20px;
        font-size: 27px;
      }
      &--name {
        font-style: italic;
      }
    }
  }
}

#about {
  text-align: center;
  .hero {
    &__content {
      h1 {
        font-weight: 700;
      }
      .button {
        color: $gold;
      }
    }
  }
  .whatwedo {
    text-align: center;

  }
  .services {
    background: $white;
    &__types {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-top: 30px;
      margin-bottom: 0;
        .item {
          flex: 1 0 100px;
        }
    }
    &--title {
      text-transform: uppercase;
      color: $gold;
      font-family: $linkfont;
      font-size: 10px;
    }
  }
  .contactus {
      padding-bottom: 100px;
      position: relative;
      bottom: -30px;
    a {
      color: $gold;
    }
  }
}

#contact {
  .contact__flex {
    display: flex;
    flex-wrap: wrap;
  }
  .form, .contactinfo {
    flex: 1 0 300px;
  }
  .hero-map {
    padding: 0;
  }
  .contactinfo {
    p {
      margin: 0;
    }
    &--headline {
      font-size: 18px;
      font-weight: 700;
      color: black;
    }
  }
  .form {
    input, textarea {
      margin: 10px 0;
      border: dotted grey 2px;
      padding: 10px;
      color: $grey;
      font-size: 12px;
    }
    input[type=text], input[type=email], textarea {
      font-style: italic;
      width: 90%;
    }
    input[type=submit] {
      background: $gold;
      border-radius: 20px;
      color: white;
      text-transform: uppercase;
      padding: 10px 25px;
      border: none;
    }
  }
}

#blog {
  margin: 65px 0;
  .blog {
    border-right: $grey 1px solid;
    padding-right: 15px;
    width: calc(70% - 15px);
    float: left;
    margin-right: 15px;
    &__posts {
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      &--image {
        height: 40vh;
        background-position: center center;
        background-size: cover;
      }
      &--content {
        border-left: $gold solid 1px;
        border-right: $gold solid 1px;
        padding: 20px;
        h3 {
          text-align: left;
          color: $gold;
          margin: 0;
        }
      }
      &--stats {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        display: flex;
        a {
          color: $gold;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        .stat-items {
          font-size: 10px;
          padding: 5px 10px;
          width: 25%;
          text-align: center;
          &:last-of-type {
            border-right: none;
          }
          p, a, i {
            font-size: 10px;
            color: $gold;
            margin: 0;
            text-transform: capitalize;
            font-weight: 400;
          }
          i {
            font-size: 12px;
          }
        }
      }
    }
    .author {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      border: $grey 1px solid;
      border-top: none;
      &__avator {
        flex: 0 0 150px;
        img {
          width: 100%;
        }
      }
      &__bio {
        flex: 1 0 350px;
        padding: 0 20px;
        font-size: 12px;
        h3 {
          margin-top: 0;
        }
      }
    }
  }
  input[type=submit] {
    background: $gold;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    border: 0;
    margin-top: 10px;
    font-size: 10px;
  }
  .pagination {
    margin-top: 15px;
  }
  .entry-title {
    text-align: left;
  }
  .single-content-section {
    border: $grey 1px solid;
    padding: 20px;
  }
  .single-section-border {
    border: $grey 1px solid;
  }
  .single-stat-border {
    border-right: $grey 1px solid;
  }
  .blog-section-border {
    border: $gold 1px solid;
  }
  .blog-stat-border {
    border-right: $gold 1px solid;
  }
}